@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

:root{
    --background:#F3E5F5;
    --button-color:#E1BEE7;
    --width-break:600px;
}
body{
    font-family: 'Caveat', cursive;
    margin:0;
}
main{
    display:block;
    padding:1rem;
    max-width: var(--width-break);
    margin:auto;
}
nav{
    display:block;
    background-color: var(--background);
    margin:0;
}
*{
    box-sizing: border-box;
}
#app-name{
    text-align:center;
    display:block;
    background-color: var(--primary-color);
    color:var(--black);
    padding:2rem;
    font-size: 2rem;
    font-weight: 600;
}
#user-text{
    font-family: inherit;
    display:block;
    width:100%;
    height:15vh;
    font-size:20px;
    margin-top: 2rem;
    border-radius: 0.5rem;
}
#btn-translate{
    font-family: inherit;
    font-size: 20px;
    background-color: var(--button-color);
    border-style: none;
    padding:1rem 2rem;
    margin: 1rem 0;
}
#btn-translate:hover{
    cursor: pointer;
}
#output-heading{
    font-size: 20px;
}
#output-text{
    display:block;
    min-height: 10vh;
    max-height: 20vh;
    width:100%;
    border:1px solid;
    padding:1rem;
    overflow: scroll;
    margin-bottom:2rem;
    font-size: 20px;
}
footer{
    background-color: var(--background);
    font-size: large;
    text-align:center;
    position: absolute;
    bottom:0;
    width:100%;
}
footer p{
    max-width: var(--width-break);
    margin:auto;
    padding-top:0;
    padding-bottom:1rem;
    font-size: 20px;
}